.password-section {
  display: flex;
  justify-content: center;
}
.form-row {
  display: flex;
  flex-direction: column;
}
password-container {
  max-width: 400px;
  margin: auto;
}

.password-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.strength-meter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.strength-bar {
  height: 10px;
  width: 30%;
  border-radius: 5px;
  background: rgb(128, 128, 128);
}
.strength-bar {
  height: 10px;
  width: 30px;
  margin: 5px;
  display: inline-block;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}
