.password-container {
  margin-bottom: 20px;
}

.password-input {
  width: 100%;
  padding: 5px;
  font-size: 16px;
}

.strength-meter {
  display: flex;
  margin-top: 5px;
}

.strength-bar {
  height: 10px;
  flex-grow: 1;
  margin-right: 5px;
  background-color: gray;
}
form {
  margin: 0;
  top: 50px;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  background-color: rgb( 33, 41, 66 );
  border-radius: 9px;
  border-top: 10px solid #79a6fe;
  border-bottom: 10px solid #8BD17C;
  width: 400px;
  height: 500px;
  box-shadow: 1px 1px 108.8px 19.2px rgb(25,31,53);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
form input[type = "password"] {
  display: block;
  margin: 20px auto;
  background: #262e49;
  border: 0;
  border-radius: 5px;
  padding: 14px 10px;
  width: 320px;
  outline: none;
  color: #d6d6d6;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
form input[type = "password"]:focus {
  border: 1px solid #79A6FE;
}
.strength-meter {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.strength-bar {
  width: 320px;
  height: 30px;
  border-radius: 5px;
}
label, h3 {
  color: #d6d6d6;
}
